@charset "utf-8";

.flex{
    display: flex;
}

header{
    background-color: blanchedalmond;
    margin: auto 100px;
}

header ul{
    display: flex;
    list-style: none;
    padding: 0px;
}

header ul li{
    width: 20%;
    text-align: center;
}

header ul li a{
    display: block;
    padding: 0.5rem;
    color: #00552e;
    /* text-decoration: none; */
    /* 太字にするプロパティ */
    font-weight: bold;
}

/* 隣接セレクタの指定 */
/* header ul li + li{
    border-left: 2px solid #00552e;
} */

/* .breadcrumbs{
    list-style: none;
    display: flex;
} */





/* 未訪問のリンクの色を変更 */
header li a:link{
    color: #55AA83;
}

/* 訪問済みのリンクの色を変更 */
header li a:visited{
    color: firebrick
}

/* マウスがホバーシタラ下線を消す */
header li a:hover{
    text-decoration: none;
    cursor: pointer;
}

body{
    min-width: 700px;
}

footer{
    width: 500px;
    text-align: left;
}
