@charset "utf-8";

h1{
    text-align: center;
    color: aliceblue;
}

.box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.sikaku{
    background-color: aquamarine;
    padding: 30px 10px;
    width: 25%;
    margin: 50px auto;
    border-radius: 20px;
    height: 450px;
}

.maru{
    /* width: 200px; */
    height: 470px;
    margin: 50px auto;
    padding: 30px 10px;
    width: 25%;
    border-radius: 20px;
    background-color:aquamarine;
}

h2{
    width: 90%;
    margin: 0 auto;
}

.gazou{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    
}

.gazou img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a{
    display: block;
    background-color: #b8d900;
    text-decoration: none;
    border-radius: 25px;
    width: 80%;
    margin: auto;
}

p{
    margin: 10px;
    width: 90%;
}

body{
    background-color: darkblue;
}








