@charset "utf-8";

body{
    background-color:aqua;
}

frame{
    margin-bottom: 2rem;
    display: flow-root;
    background-color: azure;
}

.float-left{
    width: 50%;
    float: left;
}
h4{
    background-color: antiquewhite;
    /* background-color: rgba(20, 179, 137, 0.5); */
}

p{
    background-color: antiquewhite;
}

